div(id='portfolio',class='container-fluid')
 div(class='row')
  div(class='page-header')
   h2(class='text-center text-uppercase') Latest Work
div(class='container')
 div(class='row portfolio')
  for portfolioItem in portfolioItems
   div(class='col-md-6')   
    div(class='panel panel-default')
     div(class='panel-body')
      div(class='thumbnail')
       img(src='#{portfolioItem.imgSrc}',alt='#{portfolioItem.imgAlt}')
     div(class='panel-heading')
      h4(class='text-center')
       if portfolioItem.url != undefined  
        a(href='#{portfolioItem.url}',title='visit site') #{portfolioItem.captionTitle}
       else 
        span #{portfolioItem.captionTitle}
     div(class='panel-body')
      p
       small #{portfolioItem.keywords} 
       
       
       
 
          
 
